<!DOCTYPE html>
<html>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/style2.css" />
  <head>
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />

    <style>
      body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .leaderboard {
        font-family: poppins;
        width: 100%;
        height: 100%;
        background: rgb(246, 247, 251);
        position: relative;
      }
      .lead {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 30px;
      }
      .lead-title {
        width: fit-content;
        padding: 10px 30px;
        background: rgb(72, 195, 118);
        border-top-right-radius: 8mm;
        border-bottom-right-radius: 8mm;
        font-family: poppins;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .lead-title span {
        font-weight: 400;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="leaderboard">
      <div class="lead">
        <div class="lead-title">
          <span>Leaderboard:</span>
          <%= datap[0].contestId.toUpperCase() %>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Roll No</th>
          <th>Total Score</th>
          <th>Branch</th>
        </tr>
        <% for(let i=0; i < datap.length; i++){ %>
        <tr>
          <td><%= datap[i].username %></td>
          <% let k = 0; %> <% if (datap[i].submissionResults.length !== 0){ %>
          <% for (let j = 0; j < datap[i].submissionResults.length; j++ ){ %> <%
          k = k + datap[i].submissionResults[j].score %> <% } %> <% } %>

          <td><%= k %></td>
          <td><%= datap[i].branch %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
