// Color Variables
$primary-color: rgb(198, 247, 136);
$secondary-color: #2bfdff;
$klh: #a62232;
// $primary-color: #A62232;
// $secondary-color: #C5001F;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: rgb(255, 255, 255);
$border-color: #c7c7c7;
$black: #000;
$white: rgb(255, 255, 255);
$gray: #eaeaea;

// Font Variables
$primary-font: "Roboto", sans-serif;
$secondary-font: "Playfair Display", serif;
$tertiary-font: "BwNistaInt-xBd";
$icon-font: "themify";
